<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.erevo.littlebrighter.alfred-ultimate-currency-converter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>299F618E-45EA-4D64-BA4D-42A12F2C8EE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BF0521A-1187-480A-93C4-3C50DB86AC1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A2C1F654-E4BF-4D81-8BB2-3C158C8F8E66</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>232799F8-57DA-44CD-8B81-BB86A6C1B147</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ADC5063D-EB4C-4CDA-92BA-695DCA0A1C0D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8C33E52-EE70-42AE-9382-3CE25F1887E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30CF62DD-73F7-47C6-8F22-054281B664B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>009D1F46-8846-44E9-A114-410D7CAC0335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4582263F-3BD2-4C8C-BE92-885558B2AB09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49937CBC-15F2-40F2-869E-05389B3132B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>567440A9-0F78-4C99-9E28-C6101B0723C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>567440A9-0F78-4C99-9E28-C6101B0723C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAA9D33-6197-4A11-A578-806849E422AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAA9D33-6197-4A11-A578-806849E422AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FAA9D33-6197-4A11-A578-806849E422AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD1BE058-850F-40EB-8EA8-F2F8D2BAB3B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEB42E03-BB51-4C9D-B3F8-D54E523CE586</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>067585D0-D3EC-462E-9660-006407A51F3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B04157B8-7BF9-4D82-89D4-2A47C439E32F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEB42E03-BB51-4C9D-B3F8-D54E523CE586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B723907D-6759-408D-AAE6-BAB38B087D1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCC314AA-FF97-4030-B54D-CCC270DB6FE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD1F8719-5CF7-4BFB-BCD5-403E45BC16F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>299F618E-45EA-4D64-BA4D-42A12F2C8EE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Little Brighter</string>
	<key>description</key>
	<string>The best Alfred Workflow for Converting Currencies, period.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ultimate Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/littlebrighter/alfred-ultimate-currency-converter/releases/latest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4BF0521A-1187-480A-93C4-3C50DB86AC1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f ./e4WorkflowApp.php -- "{query}" "default"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Try ‘23 €‘, ‘23 € to $‘ or ‘€‘ and convert your currency</string>
				<key>title</key>
				<string>Ultimate Currency Converter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD1F8719-5CF7-4BFB-BCD5-403E45BC16F7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>--download-update</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>A2C1F654-E4BF-4D81-8BB2-3C158C8F8E66</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>--get-api-key</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>ADC5063D-EB4C-4CDA-92BA-695DCA0A1C0D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>299F618E-45EA-4D64-BA4D-42A12F2C8EE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://free.currencyconverterapi.com/free-api-key/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>232799F8-57DA-44CD-8B81-BB86A6C1B147</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A8C33E52-EE70-42AE-9382-3CE25F1887E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f look-up.php -- "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Ultimate Currency Converter – select</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AEB42E03-BB51-4C9D-B3F8-D54E523CE586</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency-look-up</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f look-up.php -- "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Look-up currencies, countries, currency abbreviations and country abbreviations</string>
				<key>title</key>
				<string>Ultimate Currency Converter – look-up</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B04157B8-7BF9-4D82-89D4-2A47C439E32F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>067585D0-D3EC-462E-9660-006407A51F3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f e4WorkflowApp.php -- "set from {query}" "save"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>567440A9-0F78-4C99-9E28-C6101B0723C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency-set-from</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f e4WorkflowApp.php -- "set from {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change default currency used for ’from conversions‘</string>
				<key>title</key>
				<string>Ultimate Currency Converter – set default from</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49937CBC-15F2-40F2-869E-05389B3132B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6FAA9D33-6197-4A11-A578-806849E422AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cur</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>BD1BE058-850F-40EB-8EA8-F2F8D2BAB3B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency-set-to</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f e4WorkflowApp.php -- "set to {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change default currency used for ’to conversions’</string>
				<key>title</key>
				<string>Ultimate Currency Converter – set default to</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4582263F-3BD2-4C8C-BE92-885558B2AB09</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>PHP_BINARY=/usr/bin/php

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/usr/local/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  PHP_BINARY=/opt/homebrew/bin/php
fi

if ! command -v $PHP_BINARY &amp;&gt; /dev/null; then
  exit
fi

$PHP_BINARY -f e4WorkflowApp.php -- "set to {query}" "save"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Workflow Update Available!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FCC314AA-FF97-4030-B54D-CCC270DB6FE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>update-available</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B723907D-6759-408D-AAE6-BAB38B087D1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Workflow not configured!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>009D1F46-8846-44E9-A114-410D7CAC0335</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>do-configure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>30CF62DD-73F7-47C6-8F22-054281B664B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Ultimate Currency Converter

Please have a look at our [README](https://github.com/littlebrighter/alfred-ultimate-currency-converter/) on GitHub before using for the first time.

## Prerequisites

* This workflow relies on exchange rate data provided by third-party APIs
* The following services are supported, pick one of them and get an API key:

    * **[currency.getgeoapi.com](https://currency.getgeoapi.com)** → get your API key [here](https://currency.getgeoapi.com/currency-plans/) (preferred)

    * [exchangeratesapi.io](https://exchangeratesapi.io) → get your API key [here](https://manage.exchangeratesapi.io/signup/free) (please also see [issue #8](https://github.com/littlebrighter/alfred-ultimate-currency-converter/issues/8) for recent changes restricting the free plan of this API)

    * [currencyconverterapi.com](https://currencyconverterapi.com) → get your API key from [here](https://free.currencyconverterapi.com/free-api-key), usage is limited by number of requests per hour, also: precision is limited to few digits


## Prerequisites for users of macOS Monterey 12.0 and later

Apple no longer ships php bundled with macOS from Monterey 12.0, so you need to install php manually. Our recommendation is to go with homebrew. Alfred has built-in support for php from [homebrew](https://brew.sh). Please see [our GitHub repository](https://github.com/littlebrighter/alfred-ultimate-currency-converter/) if you need support with getting php to run.

## Usage

### Currency Conversion

You can trigger this workflow in the Alfred window with the following keyword:

- `currency`

Ultimate Currency Converter accepts simple and complex queries.

The workflow uses two settings. A default **from**-currency and a default **to**-currency. Everytime you start the workflow without explicitely specifying one or both currencies needed for a conversion, Ultimate Currency Converter tries to guess what you intent to do by completing your query with the default ones. See [our GitHub repository](https://github.com/littlebrighter/alfred-ultimate-currency-converter/) for changing default currencies.

#### Most simple example

If you start the workflow and do not specify any parameters, Ultimate Currency Converter guesses a value of 1 to be converted from your default from-currency to your default to-currency.

- `currency` → converts 1 EUR to USD

This assumes you did not change the factory-defaults, i.e. EUR is your default from-currency and USD your default to-currency

#### Basic exchange rate
 * `currency EUR` → displays current EUR / USD exchange rate
 * `currency EUR GBP` → displays current EUR / GBP exchange rate

You get the idea: look at the first example: no second currency is given, so the workflow completes your query with USD, which is your default to-currency.

### More on usage …

Please have a look at our [README](https://github.com/littlebrighter/alfred-ultimate-currency-converter/) on GitHub.

### License

Released under [MIT License](https://github.com/littlebrighter/alfred-ultimate-currency-converter/blob/main/LICENSE)</string>
	<key>uidata</key>
	<dict>
		<key>009D1F46-8846-44E9-A114-410D7CAC0335</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>067585D0-D3EC-462E-9660-006407A51F3D</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>232799F8-57DA-44CD-8B81-BB86A6C1B147</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>299F618E-45EA-4D64-BA4D-42A12F2C8EE5</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>30CF62DD-73F7-47C6-8F22-054281B664B7</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>4582263F-3BD2-4C8C-BE92-885558B2AB09</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>49937CBC-15F2-40F2-869E-05389B3132B5</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>4BF0521A-1187-480A-93C4-3C50DB86AC1E</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>567440A9-0F78-4C99-9E28-C6101B0723C9</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>6FAA9D33-6197-4A11-A578-806849E422AC</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>A8C33E52-EE70-42AE-9382-3CE25F1887E3</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>AEB42E03-BB51-4C9D-B3F8-D54E523CE586</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B04157B8-7BF9-4D82-89D4-2A47C439E32F</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B723907D-6759-408D-AAE6-BAB38B087D1F</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>BD1BE058-850F-40EB-8EA8-F2F8D2BAB3B3</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>BD1F8719-5CF7-4BFB-BCD5-403E45BC16F7</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>FCC314AA-FF97-4030-B54D-CCC270DB6FE0</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>-</string>
				<key>pairs</key>
				<array>
					<array>
						<string>please select …</string>
						<string>-</string>
					</array>
					<array>
						<string>getgeoapi.com</string>
						<string>getgeoapi.com</string>
					</array>
					<array>
						<string>exchangeratesapi.io</string>
						<string>exchangeratesapi.io</string>
					</array>
					<array>
						<string>currencyconverterapi.com</string>
						<string>currencyconverterapi.com</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose your desired API service.</string>
			<key>label</key>
			<string>API service</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>lb2_api_service</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>API Key</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please enter your API key (you have to register with one of the available services).</string>
			<key>label</key>
			<string>API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>lb2_api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>.</string>
						<string>en</string>
					</array>
					<array>
						<string>,</string>
						<string>de</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose your preferred decimal separator (dot or comma).</string>
			<key>label</key>
			<string>Decimal separator</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>lb2_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>-1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>default for currency</string>
						<string>-1</string>
					</array>
					<array>
						<string>0</string>
						<string>0</string>
					</array>
					<array>
						<string>1</string>
						<string>1</string>
					</array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
					<array>
						<string>5</string>
						<string>5</string>
					</array>
					<array>
						<string>6</string>
						<string>6</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose your preferred number of decimal places for the result (note: conversion is always done with maximum number of significant digit available for selected API service). Or: let the result be displayed with the default number of decimal places for the selected currency.</string>
			<key>label</key>
			<string>Decimal places</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>lb2_digits</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Check for updates</string>
			</dict>
			<key>description</key>
			<string>Check regularly, if an updated version of this workflow is available on GitHub.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>lb2_updates</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.13.2</string>
	<key>webaddress</key>
	<string>https://github.com/littlebrighter/alfred-ultimate-currency-converter</string>
</dict>
</plist>
